@model TownsendPortfolio.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timeline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timeline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screenshot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screenshot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
